/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-humanmade-ad-manager-block {
	display: flex;
	align-items: center;
}

.wp-block-humanmade-ad-manager-block:empty {
	display: none;
}
